<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="db" class="main.java.Database">
        <property name="port" value="111"></property>
        <property name="name" value="mysql"></property>


    </bean>
    <!--<bean name="hotDrink" class="main.java.Tea"/>-->
    <bean name="expressTea" class="main.java.ExpressTea"/>

    <bean name="restaurant" class="main.java.Restaurant" autowire="byType"></bean>

</beans>