<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="db" class="main.java.Database">
        <property name="port" value="111"></property>
        <property name="name" value="mysql"></property>


    </bean>
    <bean name="tea" class="main.java.Tea"/>
    <bean name="expressTea" class="main.java.ExpressTea"/>
    <bean name="teaRestaurant" class="main.java.Restaurant">
        <property name="hotDrink" ref="tea"></property>
    </bean>
    <bean name="expressTeaRestaurant" class="main.java.Restaurant">
        <property name="hotDrink">
            <bean name="expressTea1" class="main.java.ExpressTea"></bean>
        </property>
    </bean>
    <bean name="complex" class="main.java.Complex">
        <property name="list">
            <list>
                <ref bean="expressTea"></ref>
                <ref bean="tea"></ref>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="tulsi"/>
                <entry key="2" value="Neem"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </set>
        </property>

    </bean>
</beans>